body {
    font-family: Helvetica;
    color: red;
    font-size: 100pt;
}
h2 {
  color: blue;
  font-family: verdana;
  font-size:100pt;
}
h3 {
  color: yellow;
  font-family: courier;
  font-size: 100pt;
}
