body {
background-image: url('walltorch.png');
    font-family: Times New Roman;
    color: red;
    font-size: 100pt;
    background-color: blue;
}

.alan-powell {
    color: #E55C4D;
}

.slee293{
    color: white;
}
