body {
background-image: url('walltorch.png');
    font-family: Times New Roman;
    color: red;
    font-size: 100pt;
    background-color: blue;
}

.alan-powell {
    color: #E55C4D;
}

.slee293{
    color: white;
}

h1{
    color: lavender;
}
h3{
    color: purple;
    font-size: 100pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
