<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    </head>
    <body>
        <h1>CSC 4350 Lecture 8</h1>
        <h2>Section 006</h2>
        <h2>Date: September 20, 2021</h2>

        <w>Git merging practice!</w>
        <a href="https://zoom.us/j/98705250412?pwd=SDlLdndPU1ExdWFzRHJvbE13V0tmZz09">Join Zoom Lecture</a>
        <h3 class="alan-powell">This lecture is the bomb.com</h3>

        <h3 class='slee293'> hahaha </h3>

        <p>Sorry for forgetting to create my own branch and push to the main branch -Thu</p>

        <a href="https://github.com/csc4350-f21/lect8-006-activity">Link to repo!</a>

    </body>
</html>
